@import url("https://fonts.googleapis.com/css2?family=Liter&family=Rubik+Distressed&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgb(94, 91, 86);
  color: rgb(47, 163, 24);
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/ui/hole.png");
  background-position: center;
  pointer-events: none;
  z-index: 3;
  box-shadow: inset 0px 0px 100px black;
  filter: blur(2px);
}

#logo {
  position: absolute;
  width: 400px;
  height: 240px;
  pointer-events: none;
  top: 25vh;
  left: 0;
  z-index: 4;
  filter: drop-shadow(0px 50px 10px rgba(0, 0, 0, 1));
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
    filter: drop-shadow(0px 60px 10px rgba(0, 0, 0, 0.5));
  }
  100% {
    transform: translateY(0px);
  }
}

#app {
  position: absolute;
  top: 55%;
  left: 51%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#total {
  position: absolute;
  top: 0;
  right: 36%;
  z-index: 3;
  transform: rotate(3deg);
  animation: swings 5s ease-in-out infinite;
  transition: top 1s ease;
}

#sign {
  width: 210px;
  height: 210px;
}

#text {
  font-family: "Liter", sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0);
  text-shadow:
    0 2px 3px rgba(0, 0, 0, 0.6),
    0 -2px 3px rgba(0, 0, 0, 0.4);
  font-size: 50px;
  font-weight: 900;
}

@keyframes swings {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}